.header {
	display: flex;
	align-items: center;
	grid-gap: 40px;
	padding: 10px 0;
	@media screen and (max-width: 768px){
		justify-content: space-between;
	}
	&-bg {
		width: 100vw;
		background-color: $white;
		box-shadow: 0 0 10px #F0F0ED;
		position: fixed;
		top: 0;
	}
	&-container {
		width: 100%;
		max-width: 1550px;
		margin: 0 auto;
		padding: 0 10px;
	}
	&-logo {
		height: 36px;
	}
	&-burger {
		display: none;
		@media screen and (max-width: 768px){
			display: block;
		}
	}
	&-settings {
		flex: 1 1 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		@media screen and (max-width: 768px){
			display: none;
		}
	}
	&-lang {
		position: relative;
		& button {
			display: flex;
			align-items: center;
			&.active svg {
				transform: rotateZ(180deg);
			}
			&.active + .drop-down {
				display: block;
			}
		}
		& .drop-down {
			display: block;
			position: absolute;
			padding: 10px 0;
			width: 100px;
			background-color: $white;
			border-radius: 4px;
			box-shadow: 0 0 10px #F0F0ED;
			&-item {
				padding: 4px 10px;
				cursor: pointer;
				&:hover {
					background-color: $black-5;
				}
			}
		}
	}
	&-wrapper-btn {
		display: flex;
		align-items: center;
		grid-gap: 20px;
		@media screen and (max-width: 768px){
			display: none;
		}
		& a:first-child {
			width: 100px;
		}
		& a:last-child {
			width: 180px;
		}
	}
}