.header {
	display: flex;
	align-items: center;
	grid-gap: 40px;
	padding: 10px 0;
	@media screen and (max-width: 1280px) {
		grid-gap: 20px;
	}
	@media screen and (max-width: 1024px) {
		justify-content: space-between;
		padding: 7px 0;
	}
	&-bg {
		width: 100vw;
		background-color: $white;
		box-shadow: 0 0 10px #F0F0ED;
		position: fixed;
		z-index: 1000;
		top: 0;
	}
	&-container {
		width: 100%;
		max-width: 1550px;
		margin: 0 auto;
		padding: 0 10px;
		position: relative;
		@media screen and (max-width: 1024px) {
			padding: 0 16px;
		}
	}
	&-search {
		display: flex;
		align-items: center;
		grid-gap: 4px;
		& input {
			background: $white;
			border: 1px solid $green-5-40;
			border-radius: 3px;
			@include use-font($I-r, 400);
			@include use-size(12px, 15px);
			color: $black-40;
			padding: 0 12px;
			width: 322px;
			height: 40px;
			&:focus {
				border: 1px solid $green-5-80;
				color: $black-80;
				@media screen and (max-width: 1024px) {
					border-right: none;
				}
			}
			@media screen and (max-width: 1280px) {
				max-width: 250px;
			}
		}
		& .green-def {
			width: 56px;
		}
	}
	& .header-search + .header-lang {
		margin-left: auto;
		& + span {
			margin-left: 0;
		}
	}
	& .green-b-def,
	& .green-def {
		height: 40px;
	}
	&-logo {
		height: 36px;
		@media screen and (max-width: 1024px) {
			height: 28px;
		}
		& svg {
			@media screen and (max-width: 1024px) {
				width: 90px;
				height: 28px;
			}
		}
	}
	&-burger {
		display: none;
		@media screen and (max-width: 1024px) {
			display: flex;
			align-items: center;
			grid-gap: 12px;
		}
	}
	&-settings {
		flex: 1 1 100%;
		display: flex;
		align-items: center;
		grid-gap: 8px;
		@media screen and (max-width: 1024px) {
			display: none;
		}
		& span {
			margin-left: auto;
		}
	}
	&-lang {
		position: relative;
		& button {
			display: flex;
			align-items: center;
			cursor: pointer;
		}
		&.active button svg {
			transform: rotateZ(180deg);
		}
		&.active > .drop-down {
			display: block;
		}
		& .drop-down {
			display: none;
			position: absolute;
			padding: 10px 0;
			width: 100px;
			background-color: $white;
			border-radius: 4px;
			box-shadow: 0 0 10px #F0F0ED;
			&-item {
				padding: 4px 10px;
				cursor: pointer;
				&:hover {
					background-color: $black-5;
				}
			}
		}
	}
	& .user-logged {
		display: flex;
		align-items: center;
		@media screen and (max-width: 1024px) {
			display: none;
		}
		& a {
			margin-right: 16px;
		}
		& a:first-child {
			margin-right: 28px;
		}
	}
	&-wrapper-btn {
		display: flex;
		align-items: center;
		grid-gap: 20px;
		@media screen and (max-width: 1024px) {
			display: none;
		}
		& a:first-child {
			width: 100px;
		}
		& a:last-child {
			width: 180px;
		}
	}
	&-search-box {
		display: none;
		&.active {
			position: fixed;
			left: 0;
			top: 42px;
			width: 100vw;
			padding: 5px 16px;
			display: block;
			background: #FEFFFC;
			box-shadow: 0 0 10px #EFEFEC;
		}
		&-form {
			display: flex;
			& input {
				background: #FEFFFC;
				border: 1px solid rgba(19, 21, 17, 0.2);
				border-radius: 3px 0 0 3px;
				@include use-font($I-r, 400);
				@include use-size(12px, 15px);
				color: $black-40;
				padding: 0 12px;
				border-right: none;
				height: 30px;
				width: 100%;
				&:focus {
					border: 1px solid $green-5-80;
					color: $black-80;
					@media screen and (max-width: 1024px) {
						border-right: none;
					}
				}
			}
			& .green-def {
				height: 30px;
				width: 32px;
				padding: 0;
				border-radius: 0 3px 3px 0;
			}
		}
	}
}
.link-cube {
	background-color: $white;
	border: 1px solid ;
	border-radius: 3px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40px;
	@include use-font($I-m, 500);
	@include use-size(14px, 17px);
	@media screen and (max-width: 768px) {
		@include use-size(12px, 15px);
	}
	&.blue {
		width: 40px;
		border-color: $blue-80;
	}
	&.green {
		width: 40px;
		border-color: $green-2-100;
	}
	&.yellow {
		width: 88px;
		border-color: $yellow-100;
		background-color: $yellow-40;
		color: #315414;
	}
}
.avatar-block {
	background: #618C35;
	border-radius: 3px;
	display: flex;
	align-items: center;
	grid-gap: 4px;
	padding: 3px 5px;
	margin-left: 12px;
	@media screen and (max-width: 1280px) {
		margin-left: 0;
	}
	& p {
		text-align: center;
		color: $white;
		min-width: 92px;
	}
	& div {
		border: 1px solid #FEFEFE;
		border-radius: 3px;
		width: 34px;
		height: 34px;
		& img {
			width: 100%;
			height: 100%;
			border-radius: 3px;
			object-fit: cover;
		}
	}
}
