.header {
	display: flex;
	align-items: center;
	grid-gap: 40px;
	padding: 10px 0;
	@media screen and (max-width: 1280px) {
		grid-gap: 20px;
	}
	@media screen and (max-width: 1024px) {
		justify-content: space-between;
		padding: 7px 0;
	}

	&-bg {
		width: 100vw;
		background-color: $white;
		box-shadow: 0 0 10px #F0F0ED;
		position: fixed;
		z-index: 1000;
		top: 0;
	}

	&-container {
		width: 100%;
		max-width: 1570px;
		margin: 0 auto;
		padding: 0 20px;
		position: relative;
		@media screen and (max-width: 1024px) {
			padding: 0 16px;
		}
	}

	&-search {
		display: flex;
		align-items: center;
		grid-gap: 4px;

		& input {
			background: $white;
			border: 1px solid $green-5-40;
			border-radius: 3px;
			@include use-font($I-r, 400);
			@include use-size(12px, 15px);
			color: $black-40;
			padding: 0 12px;
			width: 322px;
			height: 40px;

			&:focus {
				border: 1px solid $green-5-80;
				color: $black-80;
				@media screen and (max-width: 1024px) {
					border-right: none;
				}
			}

			@media screen and (max-width: 1280px) {
				max-width: 250px;
			}
		}

		& .green-def {
			width: 56px;
		}
	}

	& .header-search + .header-lang {
		margin-left: auto;

		& + span {
			margin-left: 0;
		}
	}

	& .green-b-def,
	& .green-def {
		height: 40px;
	}

	&-logo {
		height: 36px;
		@media screen and (max-width: 1024px) {
			height: 28px;
		}

		& svg {
			@media screen and (max-width: 1024px) {
				width: 90px;
				height: 28px;
			}
		}
	}

	&-burger {
		display: none;
		@media screen and (max-width: 1024px) {
			display: flex;
			align-items: center;
			grid-gap: 12px;
		}
	}

	&-settings {
		flex: 1 1 100%;
		display: flex;
		align-items: center;
		grid-gap: 8px;
		@media screen and (max-width: 1024px) {
			display: none;
		}

		& span {
			margin-left: auto;
		}
	}

	&-lang {
		position: relative;

		& button {
			display: flex;
			align-items: center;
			cursor: pointer;
		}

		&.active button svg {
			transform: rotateZ(180deg);
		}

		&.active > .drop-down {
			display: block;
		}

		& .drop-down {
			display: none;
			position: absolute;
			padding: 10px 0;
			width: 100px;
			background-color: $white;
			border-radius: 4px;
			box-shadow: 0 0 10px #F0F0ED;

			&-item {
				padding: 4px 10px;
				cursor: pointer;

				&:hover {
					background-color: $black-5;
				}
			}
		}
	}

	& .user-logged {
		display: flex;
		align-items: center;
		@media screen and (max-width: 1024px) {
			display: none;
		}

		& a {
			margin-right: 16px;
		}

		& a:first-child {
			margin-right: 28px;
		}
	}

	&-wrapper-btn {
		display: flex;
		align-items: center;
		grid-gap: 20px;
		@media screen and (max-width: 1024px) {
			display: none;
		}

		& a:first-child {
			width: 100px;
		}

		& a:last-child {
			width: 180px;
		}
	}

	&-search-box {
		display: none;

		&.active {
			position: fixed;
			left: 0;
			top: 42px;
			z-index: 1000;
			width: 100vw;
			padding: 5px 16px;
			display: block;
			background: $bg;
			box-shadow: 0 0 10px $shd-header;
		}

		&-form {
			display: flex;

			& input {
				background: $bg;
				border: 1px solid rgba(19, 21, 17, 0.2);
				border-radius: 3px 0 0 3px;
				@include use-font($I-r, 400);
				@include use-size(12px, 15px);
				color: $black-40;
				padding: 0 12px;
				border-right: none;
				height: 30px;
				width: 100%;

				&:focus {
					border: 1px solid $green-5-80;
					color: $black-80;
					@media screen and (max-width: 1024px) {
						border-right: none;
					}
				}
			}

			& .green-def {
				height: 30px;
				width: 32px;
				padding: 0;
				border-radius: 0 3px 3px 0;
			}
		}
	}
}

.link-cube {
	background-color: $white;
	border: 1px solid;
	border-radius: 3px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40px;
	@include use-font($I-m, 500);
	@include use-size(14px, 17px);
	@media screen and (max-width: 768px) {
		@include use-size(12px, 15px);
	}

	&.blue {
		flex-direction: column;
		width: 40px;
		border-color: $blue-80;

		& > span {
			font-family: $I-sb;
			font-weight: 600;
			font-size: 12px;
			line-height: 12px;
			text-align: center;
			color: $green-5-100;
		}

		&:hover {
			background: $blue-80;

			& path {
				fill: $white;
			}
		}

		&:active {
			background: $blue-100;
		}
	}

	&.green {
		width: 40px;
		border-color: $green-2-100;
		flex-direction: column;

		& > span {
			font-family: $I-sb;
			font-weight: 600;
			font-size: 12px;
			line-height: 12px;
			text-align: center;
			color: $green-5-100;
		}

		&.active {

			border-color: $yellow-100;
			background-color: $yellow-40;
			color: $green-4-100;

			&:hover {
				color: $green-4-100;
				background-color: $yellow-40;

				& > span {
					color: $green-4-100;
				}

				& path {
					fill: $green-4-100;
				}
			}

			&:active {
				color: $green-4-100;
				background-color: $yellow-40;

				& > span {
					color: $green-4-100;
				}

				& path {
					fill: $green-4-100;
				}
			}

			& path {
				fill: $green-4-100;
			}

			& > span {
				color: $green-4-100;
			}
		}

		&:hover {
			background: $green-2-100;

			& path {
				fill: $white;
			}

			& > span {
				color: $white;
			}
		}

		&:active {
			background: $green-3-100;

			& > span {
				color: $white;
			}
		}
	}

	&.yellow {
		width: 88px;
		color: $green-5-100;
		border-color: transparent;

		&.active {
			border-color: $yellow-100;
			background-color: $yellow-40;
			color: $green-4-100;

			&:hover {
				color: $green-4-100;
			}
		}

		&:hover {
			color: $green-3-100;
		}
	}
}

.avatar-block {
	background: $green-2-100;
	border-radius: 3px;
	display: flex;
	align-items: center;
	grid-gap: 4px;
	padding: 3px 5px;
	margin-left: 12px;
	@media screen and (max-width: 1280px) {
		margin-left: 0;
	}

	& a {
		text-align: center;
		color: $white;
		min-width: 92px;
	}

	& div {
		border: 1px solid $white;
		border-radius: 3px;
		width: 34px;
		height: 34px;

		& img {
			width: 100%;
			height: 100%;
			border-radius: 3px;
			object-fit: cover;
		}
	}
}

.header-mob {
	position: fixed;
	top: 42px;
	left: 0;
	height: calc(100vh - 42px);
	display: none;
	z-index: 100;

	&.active {
		display: block;
	}

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100vw;
		height: calc(100vh - 42px);
		background: rgba(19, 21, 17, 0.4);
		z-index: -100;
	}

	&-menu {
		width: 50vw;
		background: #FEFFFC;
		height: calc(100vh - 42px);
		padding: 28px 16px;
		overflow-y: auto;
		@media screen and (max-width: 600px) {
			width: 80vw;
		}
		@media screen and (max-width: 425px) {
			width: 100vw;
		}
	}

	&-user {
		display: flex;
		align-items: center;
		grid-gap: 12px;
		margin-bottom: 15px;

		& picture {
			height: 36px;
		}

		& img {
			width: 36px;
			height: 36px;
			border-radius: 3px;
			object-fit: cover;
		}

		& > div {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			height: 36px;

			& h2 {
				color: $black-80;
			}

			& a {
				color: #315414;
			}
		}
	}

	&-nav {

	}

	&-list {

	}

	&-item {
		margin-bottom: 4px;
		border-radius: 3px;

		&:last-child {
			margin-bottom: 0;
		}

		&.border {
			position: relative;
			margin-bottom: 33px;

			&:after {
				content: '';
				display: block;
				position: absolute;
				width: 100%;
				height: 1px;
				bottom: -17px;
				left: 0;
				border-bottom: 1px solid rgba(29, 53, 10, 0.8);
			}
		}

		&.dark-green {
			&.active {
				& .drop-dash-bord {
					display: block;
				}
			}
			&.active button {
				border-radius: 3px 3px 0 0;
				background: rgba(127, 168, 80, 0.2);
				& i {
					background-color: rgba(127, 168, 80, 0.4);
					&:after {
						transform: rotateX(0deg);
					}
				}
				& button {
					margin-bottom: 2px;
				}
			}
			& span {
				color: #1D350A;
			}

			& button {

				justify-content: space-between;
				& a {
					flex: 0 1 40%;
					display: flex;
					align-items: center;
				}

				& i {
					background: rgba(127, 168, 80, 0.4);
					position: relative;
					margin-right: 22px;
					margin-left: 0;
					&:after {
						content: '';
						width: 24px;
						height: 24px;
						display: block;
						position: absolute;
						right: -24px;
						background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0_800_5400)'%3e%3cpath d='M15.88 14.7099L12 10.8299L8.11998 14.7099C7.72998 15.0999 7.09998 15.0999 6.70998 14.7099C6.31998 14.3199 6.31998 13.6899 6.70998 13.2999L11.3 8.70994C11.69 8.31994 12.32 8.31994 12.71 8.70994L17.3 13.2999C17.69 13.6899 17.69 14.3199 17.3 14.7099C16.91 15.0899 16.27 15.0999 15.88 14.7099Z' fill='%231D350A'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_800_5400'%3e%3crect width='24' height='24' fill='white' transform='matrix(1 0 0 -1 0 24)'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
						background-repeat: no-repeat;
						transform: rotateX(180deg);
					}
				}

				&:hover {
					background: rgba(127, 168, 80, 0.2);

					& span {
						color: #1D350A;
					}

					& i {
						color: #1D350A;
						background-color: rgba(127, 168, 80, 0.4);
					}
				}
			}
		}

		&.green {
			& span {
				color: #618C35;
			}

			& i {
				background-color: rgba(127, 168, 80, 0.4);
			}

			&:hover {
				background-color: rgba(73, 111, 35, 0.8);

				& span {
					color: $white;
				}

				& i {
					color: #1D350A;
					background-color: rgba(203, 220, 183, 1);
				}

				& path {
					fill: $white;
				}
			}
		}

		&.blue {
			& span {
				color: rgba(17, 69, 204, 0.8);
			}

			& i {
				background-color: rgba(17, 69, 204, 0.2);
			}

			&:hover {
				background-color: rgba(17, 69, 204, 0.8);

				& span {
					color: $white;
				}

				& i {
					color: #1D350A;
					background-color: rgba(206, 218, 243, 1);
				}

				& path {
					fill: $white;
				}
			}
		}
		& span {
			font-family: $I-m;
			font-weight: 500;
			font-size: 14px;
			line-height: 17px;
			margin-left: 12px;
		}

		& i {
			min-width: 20px;
			padding: 0 5px;
			height: 20px;
			display: flex;
			align-items: center;
			justify-content: center;
			font-family: $I-m;
			font-weight: 500;
			font-size: 12px;
			line-height: 15px;
			color: #1D350A;
			border-radius: 10px;
			margin-left: auto;
		}
	}

	&-link {
		display: flex;
		align-items: center;
		height: 44px;
		width: 100%;
		padding: 10px 8px;

	}
	&-language {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-left: 0;
		& span {
			margin-left: 0;
		}
		& div {
			display: flex;
			flex-direction: column;
			position: relative;
			& button {
				color: #1D350A;
				position: relative;
				margin-right: 22px;
				height: 24px;
				&:after {
					content: '';
					width: 24px;
					height: 24px;
					display: block;
					position: absolute;
					right: -24px;
					bottom: 0;
					background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0_800_5400)'%3e%3cpath d='M15.88 14.7099L12 10.8299L8.11998 14.7099C7.72998 15.0999 7.09998 15.0999 6.70998 14.7099C6.31998 14.3199 6.31998 13.6899 6.70998 13.2999L11.3 8.70994C11.69 8.31994 12.32 8.31994 12.71 8.70994L17.3 13.2999C17.69 13.6899 17.69 14.3199 17.3 14.7099C16.91 15.0899 16.27 15.0999 15.88 14.7099Z' fill='%231D350A'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_800_5400'%3e%3crect width='24' height='24' fill='white' transform='matrix(1 0 0 -1 0 24)'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
					background-repeat: no-repeat;
					transform: rotateX(180deg);
				}
			}
			&.active {
				& button:after {
					transform: rotateX(0deg);
				}
				& .drop-lang {
					display: block;
				}
			}
			& .drop-lang {
				position: absolute;
				top: 24px;
				display: none;
				&-item {
					color: #1D350A;
					margin-bottom: 8px;
					margin-top: 8px;
					padding: 0 8px;
				}
			}
		}
	}
}

.drop-dash-bord {
	display: none;
	margin-top: 2px;
	& .drop-dash-item {
		margin-bottom: 2px;
		padding: 10px 24px 10px 36px;
		background: rgba(127, 168, 80, 0.05);
	}

	& .drop-dash-link {
		display: flex;
		align-items: center;

		& span {
			color: #1D350A;
		}
		& i {
			background: rgba(127, 168, 80, 0.4);
		}
	}
}