@import "../default/_my__font";
@import "../default/_my__color";
@import "../default/mixins";


.bg-site {
	background: $green-5-100;
	display: flex;
	height: 100vh;
}

.login {
	height: 100%;
	width: 100%;
	max-width: 55.73vw;
	background: $bg;
	box-shadow: 6px 0 16px #112006;
	padding: 140px 120px 60px 340px;
	@media screen and (max-width: 1440px) {
		padding: 140px 120px 60px 140px;
	}
	@media screen and (max-width: 1280px) {
		padding: 240px 40px 60px 40px;
	}
	@media screen and (max-height: 880px) {
		padding-top: 120px;
	}
	
	&-l-bg {
		& .link-register-group {
			margin: 32px 0 20px;
		}
		
		& .link-register {
			display: flex;
			flex-direction: column;
			background: $bg;
			border: 1px solid $black-40;
			border-radius: 3px;
			padding: 18px 20px;
			position: relative;
			
			&:hover {
				border: 1px solid $black-80;
				
				& svg path {
					fill: $green-5-100;
				}
			}
			
			&:active {
				border: 1px solid $black-100;
				
				& svg path {
					fill: $green-5-100;
				}
			}
			
			& svg {
				position: absolute;
				top: calc(50% - 12px);
				right: 30px;
			}
			
			&:first-child {
				margin-bottom: 16px;
			}
			
			& span {
				&:first-child {
					color: $green-3-100;
					margin-bottom: 9px;
				}
				
				&:last-child {
					color: $green-5-100;
				}
			}
		}
		
		& .form-register {
			margin: 24px 0 44px;
			
			&-item {
				display: none;
				
				& button {
					width: 180px;
				}
				&.active {
					display: block;
				}
				
				& > div {
					margin-bottom: 24px;
					
					&:last-child {
						margin-bottom: 0;
					}
				}
				
				& .select-wrapper {
					display: flex;
					flex-direction: column;
					grid-gap: 12px;
					
					& label {
						@include use-font($I-m, 500);
						@include use-size(18px, 22px);
						color: $green-5-100;
					}
				}
				
				& .check-box {
					margin-bottom: 16px;
					
					&:last-child {
						margin-bottom: 0;
					}
				}
			}
			
			& .form-register-two-i {
				display: flex;
				grid-gap: 20px;
			}
		}
	}
	
	&-r-bg {
		padding: 449px 0 0 40px;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 440px;
		@media screen and (max-height: 880px) {
			padding-top: 240px;
		}
		
		& h1 {
			text-align: center;
			@include use-font($I-sb, 600);
			@include use-size(26px, 31px);
			color: $white;
			width: 100%;
			max-width: 440px;
			margin-bottom: 70px;
			
			& strong {
				color: $yellow-100;
				text-transform: uppercase;
			}
		}
		
		& svg {
		}
	}
	
	&-bg-line {
		margin-top: 85px;
		color: $green-3-100;
		position: relative;
		
		&:after {
			content: '';
			position: absolute;
			bottom: -3px;
			display: block;
			width: 380px;
			height: 3px;
			background-repeat: no-repeat;
			background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='380' height='3' viewBox='0 0 380 3' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M2.94296 3L366.562 3C370.479 3 374.789 2.63514 378.087 1.66622C378.837 1.44324 380.252 1.02973 379.961 0.555406C379.671 0.0810795 377.862 0 377.066 0L13.4276 0C9.51106 0 5.20142 0.364862 1.91266 1.33784C1.16308 1.55676 -0.251743 1.97027 0.0387178 2.44459C0.329178 2.91892 2.14653 3 2.94296 3Z' fill='%23F8D663'/%3e%3c/svg%3e ");
		}
	}
	
	&-title {
		margin-top: 63px;
		color: $green-5-100;
		
		& > span {
			color: $green-3-100;
		}
	}
	
	&-form {
		margin: 32px 0 44px;
		
		& div:first-child {
			margin-bottom: 24px;
		}
		
		& div:last-child {
			margin-bottom: 12px;
		}
		
		& button {
			width: 180px;
			margin-top: 28px;
		}
	}
	
	&-forgot {
		color: $green-2-100;
	}
	
	&-register {
		color: $green-5-100;
		
		& a {
			color: $green-2-100;
		}
		
	}
	
}
