@import "../default/_my__font";
@import "../default/_my__color";
@import "../default/mixins";

.bg-site {
	padding-top: 60px;
	background-color: $bg;
	padding-bottom: 88px;
	@media screen and (max-height: 860px) {
		padding-bottom: 100px;
	}
	@media screen and (max-width: 1024px) {
		padding-top: 42px;
	}
	@media screen and (max-width: 580px) {
		padding-top: 30px;
	}
}
.cont {
	padding-top: 40px;
	&-title {
		color: #1D350A;
		margin-bottom: 44px;
	}
	&-request {
		&-title {
			color: #1D350A;
			margin-bottom: 32px;
		}
		& .product-information {
			&-header {
				display: flex;
				align-items: center;
				justify-content: space-between;
				margin-bottom: 20px;
				& > div {
					display: flex;
					align-items: center;
					grid-gap: 12px;
				}
				& .header-number {
					width: 36px;
					height: 36px;
					display: flex;
					align-items: center;
					justify-content: center;
					background: rgba(127, 168, 80, 0.2);
					border-radius: 3px;
					font-family: $I-m;
					font-weight: 500;
					font-size: 18px;
					line-height: 22px;
					color: #1D350A;
				}
				& .header-title {
					color: #1D350A;
				}
			}
			&-main {
				& .main-info {

				}
			}
		}
	}
}
.link-cube-m {
	display: inline-flex;
	align-items: center;
	grid-gap: 12px;
	font-family: $I-m;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	color: #618C35;
	&:hover {
		text-decoration: underline;
		text-underline-position: under;
	}
	&:hover span {
		background: #618C35;
		& path {
			fill: #FEFEFE;
		}
	}
	&:active {
		color: #496F23;
	}
	&:active span {
		background: #496F23;
	}
	& span {
		width: 32px;
		height: 32px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		border: 1px solid #618C35;
		border-radius: 3px;
	}
}