@import "../default/_my__font";
@import "../default/_my__color";
@import "../default/mixins";
@import "./sidebar2";

.bg-site {
	padding-top: 60px;
	background-color: $bg;
	height: calc(100vh - 269px);
	padding-bottom: 20px;
	@media screen and (max-height: 860px) {
		height: auto;
		padding-bottom: 100px;
	}
	@media screen and (max-width: 1024px) {
		padding-top: 42px;
	}
	@media screen and (max-width: 768px) {
		height: calc(100vh - 261px);
	}
	@media screen and (max-width: 580px) {
		padding-top: 30px;
	}
}

.box-with-header {
	padding-top: 56px;
	display: flex;
	grid-gap: 100px;
	@media screen and (max-width: 1024px) {
		grid-gap: 30px;
	}
	@media screen and (max-width: 768px) {
		grid-gap: 0;
		padding-top: 24px;
	}
}

.content {
	width: 100%;
	
	&-title {
		color: rgba(19, 21, 17, 0.8);
		margin-bottom: 20px;
	}
	
	& .wrapper-link {
		display: flex;
		grid-gap: 9px;
		background-color: $blue-5;
		border: 1px solid $blue-5;
		border-radius: 3px;
		padding: 8px 16px 12px;
		margin-bottom: 12px;
		
		&:hover {
			border-color: transparent;
		}
		
		&:active {
			background-color: $blue-20;
		}
		
		&.successfully {
			& .successfully {
				display: block;
			}
			& .no-successfully {
				display: none;
			}
			& button {
				color: $black-20;
				//pointer-events: none;
				cursor: default;
				&:hover {
					text-decoration: none;
				}
			}
		}
		
		& .successfully {
			display: none;
		}
		
		& p {
			color: $green-5-100;
		}
		
		& button {
			color: $blue-100;
			cursor: pointer;
			&:hover {
				text-decoration: underline;
			}
		}
		
		&:first-of-type {
			background-color: $red-5;
			border: 1px solid $red-5;
			&.successfully {
				& button {
					color: $black-20;
				}
			}
			&:hover {
				border-color: transparent;
			}
			
			&:active {
				background-color: $red-20;
			}
			
			& button {
				color: $red-100;
			}
		}
		
		&:last-of-type {
			background-color: $green-4-5;
			border: 1px solid $green-4-5;
			margin-bottom: 0;
			
			&:active {
				background-color: $green-4-20;
			}
			
			& a {
				color: $green-3-100;
			}
		}
	}
}
