@import "../default/_my__font";
@import "../default/_my__color";
@import "../default/mixins";

.bg-site {
	background: $green-5-100;
	display: flex;
	height: auto;
}
.login {
	height: 100%;
	width: 100%;
	max-width: 55.73vw;
	background: $bg;
	box-shadow: 6px 0 16px #112006;
	padding: 140px 120px 60px 340px;
	@media screen and (max-width: 1440px) {
		padding: 140px 120px 60px 140px;
	}
	@media screen and (max-width: 1280px) {
		padding: 240px 40px 60px 40px;
	}
	@media screen and (max-height: 880px) {
		padding-top: 120px;
	}
	&-r-bg {
		padding: 449px 0 0 40px;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 440px;
		@media screen and (max-height: 880px) {
			padding-top: 240px;
		}
	}
}