@import "../default/_my__font";
@import "../default/_my__color";
@import "../default/mixins";
@import "./_wrapper-settings";
@import "./sidebar2";

.bg-site {
	padding-top: 60px;
	background-color: $bg;
	height: calc(100vh - 269px);
	padding-bottom: 20px;
	@media screen and (max-height: 860px) {
		height: auto;
		padding-bottom: 100px;
	}
	@media screen and (max-width: 1024px) {
		padding-top: 42px;
	}
	@media screen and (max-width: 768px) {
		height: calc(100vh - 261px);
	}
	@media screen and (max-width: 580px) {
		padding-top: 30px;
	}
}

.box-with-header {
	padding-top: 56px;
	display: flex;
	grid-gap: 100px;
	@media screen and (max-width: 1500px) {
		grid-gap: 20px;
	}
	@media screen and (max-width: 768px) {
		grid-gap: 0;
		padding-top: 24px;
	}
}

.content {
	width: 100%;
	position: relative;
	padding-right: 335px;
	&-link {
		display: inline-flex;
		align-items: center;
		grid-gap:8px;
		color: #1D350A;
		&:hover {
			color: #496F23;
			& path {
				fill: #496F23;
			}
		}
		&:active {
			color: #315414;
			& path {
				fill: #315414;
			}
		}
	}
	&-btn-wrapper {
		max-width: 212px;
		width: 100%;
		position: absolute;
		top: 44px;
		right: 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
		& button {
			flex: 0 1 calc(50% - 6px);
		}
	}
	&-title {
		margin-top: 27px;
		color: rgba(19, 21, 17, 0.8);
		margin-bottom: 20px;
		&-wrapper {
			display: flex;
			align-items: center;
			grid-gap: 32px;
			& .status {
				&-under-consideration {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 161px;
					height: 35px;
					background: rgba(248, 214, 99, 0.8);
					border-radius: 3px;
					color: #131511;
				}

				&-approved {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 161px;
					height: 35px;
					background: rgba(127, 168, 80, 0.4);
					border-radius: 3px;
					color: #131511;
				}

				&-declined {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 161px;
					height: 35px;
					background: rgba(236, 22, 22, 0.4);
					border-radius: 3px;
					color: #131511;
				}
			}
		}
	}
	& .product-information {
		margin-bottom: 40px;
		&:last-child {
			margin-bottom: 0;
		}
		&-header {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 20px;
			& > div {
				display: flex;
				align-items: center;
				grid-gap: 12px;
			}
			& .header-number {
				width: 36px;
				height: 36px;
				display: flex;
				align-items: center;
				justify-content: center;
				background: rgba(127, 168, 80, 0.2);
				border-radius: 3px;
				font-family: $I-m;
				font-weight: 500;
				font-size: 18px;
				line-height: 22px;
				color: #1D350A;
			}
			& .header-title {
				color: #1D350A;
			}
		}
		&-main {
			display: grid;
			grid-template-columns: 150px 1fr;
			grid-template-rows: repeat(3,auto);
			& .main-img {
				grid-row-start: 1;
				grid-row-end: 3;
				grid-column-start: 1;
				width: 130px;
				height: 130px;
				border: 1px solid rgba(19, 21, 17, 0.2);
				border-radius: 3px;
				& source,
				& img {
					height: 100%;
					object-fit: contain;
				}
			}
			& .main-name {
				grid-row-start: 1;
				grid-column-start: 2;
				& h2 {

				}
				& .for-charity {
					font-family: $I-m;
					font-weight: 500;
					font-size: 12px;
					line-height: 15px;
					color: #496F23;
					background: rgba(127, 168, 80, 0.2);
					border-radius: 3px;
					padding: 3px 4px;
					width: max-content;
					margin-top: 5px;
				}
			}
			& .main-drop {

				grid-column-start: 2;
				margin-top: 26px;
				display: flex;
				justify-content: space-between;
				@media screen and (max-width: 625px) {
					flex-direction: column;
				}
				&-item {
					margin-bottom: 16px;
					max-width: 180px;
					width: 100%;
					@media screen and (max-width: 625px) {
						max-width: 100%;
					}
				}
				&-label {

				}
				&-title {
					color: rgba(19, 21, 17, 0.4);
				}
				&-input {
					margin-top: 8px;
					display: block;
					width: 100%;
					padding: 9px 8px 10px;
					border: 1px solid rgba(19, 21, 17, 0.4);
					border-radius: 3px;
					font-family: $I-m;
					font-weight: 500;
					font-size: 14px;
					line-height: 17px;
					color: rgba(19, 21, 17, 0.8);
					background: transparent;
				}
				& input.main-drop-input {
					height: 36px;
				}
				& textarea.main-drop-input {
					height: 69px;
					&::-webkit-scrollbar {
						background: $green-3-40;
						border-radius: 2px;
						width: 4px;
						height: 4px;
					}
					&::-webkit-scrollbar-thumb {
						background: $green-3-80;
						border-radius: 2px;
						height: 4px;
					}
				}
			}
		}
	}
}


.link-cube-m {
	display: inline-flex;
	align-items: center;
	grid-gap: 12px;
	font-family: $I-m;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	color: #618C35;
	@media screen and (max-width: 625px) {
		font-size: 0;
	}
	&:hover {
		text-decoration: underline;
		text-underline-position: under;
	}
	&:hover span {
		background: #618C35;
		& path {
			fill: #FEFEFE;
		}
	}
	&:active {
		color: #496F23;
	}
	&:active span {
		background: #496F23;
	}
	& span {
		width: 32px;
		height: 32px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		border: 1px solid #618C35;
		border-radius: 3px;
	}
}