@import "../default/_my__font";
@import "../default/_my__color";
@import "../default/mixins";
@import "./sidebar2";
/* стилі для чату нижче */
.bg-site {
	padding-top: 60px;
	background-color: $bg;
	height: calc(100vh - 269px);
	padding-bottom: 20px;
	@media screen and (max-height: 1024px) {
		height: auto;
		padding-bottom: 100px;
	}
	@media screen and (max-height: 1024px) and (max-width: 800px){
		height: auto;
		padding-bottom: 100px;
	}
	@media screen and (max-height: 1024px) and (max-width: 768px){
		padding-bottom: 0;
	}
	@media screen and (max-width: 1024px) {
		padding-top: 42px;
	}
	@media screen and (max-width: 768px) {
		height: calc(100vh - 261px);
		padding-bottom: 0;
	}
	@media screen and (max-width: 580px) {
		padding-top: 42px;
	}
}

.box-with-header {
	padding-top: 56px;
	display: flex;
	grid-gap: 100px;
	@media screen and (max-width: 1280px) {
		grid-gap: 30px;
	}
	@media screen and (max-width: 768px) {
		grid-gap: 0;
		padding-top: 10px;
	}
}

.content {
	width: calc(100% - 360px);
	@media screen and (max-width: 1280px) {
		width: calc(100% - 290px);
	}
	@media screen and (max-width: 1024px) {
		width: 100%;
	}
	&-title {
		color: rgba(19, 21, 17, 0.8);
		margin-bottom: 20px;
	}
	&-chat {
		display: flex;
		background: rgba(127, 168, 80, 0.05);
		border: 1px solid rgba(19, 21, 17, 0.2);
		border-radius: 3px;
		min-height: 625px;
		max-height: 625px;
		//width: calc(100% - 360px);
		@media screen and (max-width: 768px) {
			margin: 0 -16px;
		}
	}
	& .chat-messages {
		flex: 0 1 calc(100% - 360px);
		width: calc(100% - 360px);
		position: relative;
		background: $bg;
		@media screen and (max-width: 768px) {
			display: none;
			position: fixed;
			top: 0;
			left: 0;
			z-index: 10000;
			height: 100vh;
			width: 100%;
		}
		&.active {
			@media screen and (max-width: 768px) {
				display: block;
			}
		}

		&-null {
			background: rgba(127, 168, 80, 0.2);
			border-radius: 3px;
			padding: 7px;
			width: 100%;
			max-width: 300px;
			text-align: center;
			color: #131511;
			position: absolute;
			top: calc(50% - 15.5px);
			left: calc(50% - 150px);
		}
		&-use {
			height: 100%;
			background: rgba(127, 168, 80, 0.05);
		}
		&-header {
			display: grid;
			grid-template-columns: repeat(3,auto);
			background: #FEFEFE;
			border-bottom: 1px solid rgba(19, 21, 17, 0.2);
			box-shadow: 0 4px 8px #E5E7EB;
			padding: 19px 12px 19px 20px;
			@media screen and (max-width: 768px) {
				padding: 7px 16px 8px;
				grid-template-columns: repeat(3,auto);
				grid-template-rows: repeat(2,auto);
			}
			&-btn {
				display: none;
				@media screen and (max-width: 768px) {
					grid-row: 1/3;
					grid-column: 1/2;
					display: flex;
					align-items: center;
				}
			}
			&-avatar {
				border-radius: 3px;
				@media screen and (max-width: 768px) {
					grid-row: 1/3;
					grid-column: 3/4;
					margin-left: auto;
					display: flex;
					align-items: center;

				}
				& picture {
					width: 38px;
					height: 38px;
					display: block;
				}
				& source,
				& img {
					height: 100%;
					object-fit: cover;
					border-radius: 3px;
				}
			}
			&-name {
				margin-left: 12px;
				@media screen and (max-width: 768px) {
					margin-left: 0;
					display: flex;
					align-items: center;
					flex-direction: column;
				}
				& h2 {
					margin-bottom: 8px;
					color: #1D350A;
					word-break: break-word;
					@media screen and (max-width: 768px) {
						margin-bottom: 2px;
					}
				}
				& p {
					color: #1D350A;
					word-break: break-word;
				}
			}
			&-online {
				margin-left: auto;
				@media screen and (max-width: 768px) {
					grid-row: 2/3;
					grid-column: 2/3;
					margin-left: 0;
					margin-top: 4px;
					display: flex;
					justify-content: center;
				}
				& p {
					color: rgba(29, 53, 10, 0.8);
					word-break: break-word;
				}
			}
		}
		&-list {
			height: calc(100% - 135px);
			padding: 16px 20px;
			max-height: 488px;
			overflow: hidden;
			overflow-y: auto;
			display: flex;
			flex-direction: column-reverse;
			@media screen and (max-width: 768px) {
				max-height: 100%;
				height: calc(100% - 121px);
			}
			&::-webkit-scrollbar {
				background: transparent;
				border-radius: 3px;
				width: 4px;
				height: 4px;
			}
			&::-webkit-scrollbar-thumb {
				background: rgba(97, 140, 53, 0.4);
				border-radius: 3px;
				height: 4px;
			}
			& .message-your {
				margin-bottom: 12px;
				background: rgba(127, 168, 80, 0.4);
				border-radius: 3px;
				padding: 10.5px 12px;
				margin-left: auto;
				display: flex;
				align-items: center;
				grid-gap: 10px;
				&:last-child {
					margin-bottom: 0;
				}
				@media screen and (max-width: 768px) {
					max-width: 100%;
				}
				& p {
					color: #131511;
					word-break: break-all;
				}
				& .checked {
					min-width: 22px;
					height: 22px;
				}
				& span {
					color: rgba(19, 21, 17, 0.4);
				}
			}
			& .message-for-you {
				display: flex;
				align-items: center;
				grid-gap: 10px;
				margin-bottom: 12px;
				padding: 10.5px 12px;
				background: rgba(127, 168, 80, 0.2);
				border-radius: 3px;
				width: max-content;
				@media screen and (max-width: 768px) {
					max-width: 100%;
				}
				&.files {
					& p {

					}
				}
				& p {
					color: #131511;
				}
				& span {
					color: rgba(19, 21, 17, 0.4);
				}
			}
			& .message-data {
				margin-bottom: 20px;
				text-align: center;
				font-family: $I-m;
				font-weight: 500;
				font-size: 14px;
				line-height: 17px;
				color: rgba(19, 21, 17, 0.4);
			}
		}
		&-inputs {
			background: rgba(127, 168, 80, 0.2);
			border-top: 1px solid rgba(19, 21, 17, 0.2);
			box-shadow: 0 -4px 8px #EBEBEB;
			display: flex;
			grid-gap: 10px;
			padding: 7px 10px;
			&-file {
				width: 24px;
				height: 37px;
				& input {
					display: none;
				}
				& label {
					display: flex;
					height: 100%;
					align-items: center;
					justify-content: center;
					cursor: pointer;
					&:hover path {
						fill: $green-1-100;
					}
				}
				
			}
			&-textarea {
				width: 100%;
				position: relative;
				& textarea {
					width: 100%;
					padding: 8px 40px 9px 12px;
					height: 34px;
					border: none;
					background: #FEFEFE;
					border-radius: 3px;
					font-family: $I-r;
					font-weight: 400;
					font-size: 14px;
					line-height: 17px;
					color: $green-5-100;
					&::placeholder {
						font-family: $I-r;
						font-weight: 400;
						font-size: 14px;
						line-height: 17px;
						color: rgba(19, 21, 17, 0.4);
					}
					&::-webkit-scrollbar {
						background: $green-1-100;
						border-radius: 3px;
						width: 4px;
						height: 4px;
					}
					&::-webkit-scrollbar-thumb {
						background: $green-5-100;
						border-radius: 3px;
						height: 4px;
					}
				}
				& button {
					position: absolute;
					top: calc(50% - 12px);
					right: 12px;
					cursor: pointer;
					&:hover path {
						fill: $green-1-100;
					}
				}
			}
		}
	}
	& .chat-users {
		background: #1D350A;
		width: 100%;
		max-width: 360px;
		min-width: 360px;
		padding-right: 2px;
		@media screen and (max-width: 768px) {
			max-width: 100%;
			min-width: 100%;
			display: none;
		}
		&.active {
			@media screen and (max-width: 768px) {
				display: block;
			}
		}
		&-title {
			padding: 15px 23px;
			color: #FEFEFE;
			border-bottom: 1px solid rgba(254, 254, 254, 0.5);
		}
		&-list {
			max-height: 568px;
			overflow-x: hidden;
			overflow-y: auto;
			&::-webkit-scrollbar {
				background: rgba(254, 254, 254, 0.5);
				border-radius: 3px;
				width: 4px;
				height: 4px;
			}
			&::-webkit-scrollbar-thumb {
				background: #FEFEFE;
				border-radius: 3px;
				height: 4px;
			}
		}
		&-item {
			display: flex;

			padding: 16px 12px 20px 16px;
			border-bottom: 1px solid rgba(254, 254, 254, 0.5);
			cursor: pointer;
			&:hover {
				background: $green-3-40;
			}
			&.active {
				background: #496F23;
				cursor: auto;
			}
			& .users-avatar {
				flex: 0 0 48px;
				border-radius: 3px;
				width: 36px;
				height: 36px;
				padding-right: 12px;
				& img,
				& source {
					width: 36px;
					height: 36px;
					object-fit: cover;
					border-radius: 3px;

				}
			}
			& .users-name {
				flex: 0 2 calc(100% - 108.5px);
				width: 100%;
				&-nick {
					color: #FEFEFE;
					margin-bottom: 3.5px;
				}
				&-message {
					color: #FEFEFE;
					max-width: 217px;
					width: 100%;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					@media screen and (max-width: 768px) {
						max-width: 100%;
					}
				}
			}
			& .users-info {
				width: 60.5px;
				margin-left: auto;
				display: flex;
				flex-direction: column;
				align-items: flex-end;
				&-time {
					color: #FEFEFE;
					margin-bottom: 3.5px;
				}
				&-notification {
					height: 20px;
					padding: 0 6px;
					border-radius: 20px;
					display: flex;
					align-items: center;
					justify-content: center;
					background: #F3CA3D;
					color: #1D350A;
				}
			}
		}
	}
}
.your-file {
	position: absolute;
	z-index: 100;
	background: rgba(19, 21, 17, 0.4);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	align-items: center;
	justify-content: center;
	&.active {
		display: flex;
	}
	&.active.error .your-file-wrapper {
		display: none;
	}
	&.active.error .error{
		color: $red-80;
		background: #FEFEFE;
		border-radius: 3px;
		min-width: 300px;
		max-width: 350px;
		height: 54px;
		padding: 12px 8px;
		display: flex;
		align-items: center;
		justify-content: center;
		& button {
			cursor: pointer;
			height: 24px;
			&:hover path {
				fill: $red-100;
			}
		}
	}
	& .error{
		display: none;
	}
	&-wrapper {
		background: #FEFEFE;
		border-radius: 3px;
		min-width: 300px;
		max-width: 350px;
		height: 54px;
		padding: 12px 8px;
		display: flex;
		align-items: center;
	}
	&-img {
		background: #618C35;
		border-radius: 3px;
		width: 30px;
		height: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex: 0 1 30px;
	}
	&-name {
		margin-left: 8px;
		& h2 {
			color: #1D350A;
			margin-bottom: 3px;
			max-width: 200px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		& p {
			color: rgba(19, 21, 17, 0.4);
		}
	}
	& button {
		margin-left: auto;
		cursor: pointer;
		&:hover path {
			fill: $green-1-100;
		}
	}
}
