@import "../default/_my__font";
@import "../default/_my__color";
@import "../default/mixins";

.bg-site {
	padding-top: 60px;
	background-color: $bg;
	padding-bottom: 88px;
	@media screen and (max-height: 860px) {
		padding-bottom: 100px;
	}
	@media screen and (max-width: 1024px) {
		padding-top: 42px;
	}
	@media screen and (max-width: 580px) {
		padding-top: 30px;
	}
}
.cont {
	padding-top: 40px;
	max-width: 880px;
	&-title {
		color: #1D350A;
		margin-bottom: 44px;
	}
	&-request {
		&-title {
			color: #1D350A;
			margin-bottom: 32px;
		}
		& .product-information {
			&-header {
				display: flex;
				align-items: center;
				justify-content: space-between;
				margin-bottom: 20px;
				& > div {
					display: flex;
					align-items: center;
					grid-gap: 12px;
				}
				& .header-number {
					width: 36px;
					height: 36px;
					display: flex;
					align-items: center;
					justify-content: center;
					background: rgba(127, 168, 80, 0.2);
					border-radius: 3px;
					font-family: $I-m;
					font-weight: 500;
					font-size: 18px;
					line-height: 22px;
					color: #1D350A;
				}
				& .header-title {
					color: #1D350A;
				}
			}
			&-main {
				padding: 16px 16px 20px;
				border: 1px solid transparent;
				border-radius: 3px;
				&.active {
					background: rgba(127, 168, 80, 0.05);
					border-color: rgba(19, 21, 17, 0.4);
					& .main-info-name button {
						text-decoration-line: underline;
						& svg {
							transform: rotateX(180deg);
						}
					}
				}
				& .main-info {
					display: flex;
					justify-content: space-between;

					&-img {
						width: 80px;
						height: 80px;
						border: 1px solid rgba(19, 21, 17, 0.2);
						border-radius: 3px;
						& source,
						& img {
							height: 100%;
							object-fit: contain;
						}
					}
					&-name {
						max-width: 190px;
						& h2 {
							color: #1D350A;
						}
						& button {
							display: flex;
							align-items: center;
							grid-gap: 4px;
							color: #496F23;
							cursor: pointer;
							margin-top: 4px;
							&:hover {
								text-decoration-line: underline;
							}
						}
					}
					&-category {
						& h2 {
							color: #1D350A;
							margin-bottom: 17px;
						}
						& p {
							color: #1D350A;
						}
					}
					&-price {
						& h2 {
							color: #1D350A;
							margin-bottom: 17px;
						}
						& p {
							color: #1D350A;
						}
					}
					&-quantity {
						& span {
							color: #1D350A;
						}
						& input {
							margin-top: 8px;
							display: block;
							width: 114px;
							height: 36px;
							background: #FEFFFC;
							border: 1px solid rgba(19, 21, 17, 0.4);
							border-radius: 3px;
							font-family: $I-m;
							font-weight: 500;
							font-size: 16px;
							line-height: 19px;
							color: #1D350A;
						}
					}
				}
				& .main-drop {
					margin-top: 26px;
					display: flex;
					flex-wrap: wrap;
					justify-content: space-evenly;
					&-item {
						margin-bottom: 16px;
					}
					&-label {
	
					}
					&-title {
						color: rgba(19, 21, 17, 0.4);
					}
					&-input {
						margin-top: 8px;
						display: block;
						width: 172px;
						padding: 9px 8px 10px;
						border: 1px solid rgba(19, 21, 17, 0.4);
						border-radius: 3px;
						font-family: $I-m;
						font-weight: 500;
						font-size: 14px;
						line-height: 17px;
						color: rgba(19, 21, 17, 0.8);
						background: transparent;
					}
					& input.main-drop-input {
						height: 36px;
					}
					& textarea.main-drop-input {
						height: 69px;
						&::-webkit-scrollbar {
							background: $green-3-40;
							border-radius: 2px;
							width: 4px;
							height: 4px;
						}
						&::-webkit-scrollbar-thumb {
							background: $green-3-80;
							border-radius: 2px;
							height: 4px;
						}
					}
				}
			}
		}
	}
}
.link-cube-m {
	display: inline-flex;
	align-items: center;
	grid-gap: 12px;
	font-family: $I-m;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	color: #618C35;
	&:hover {
		text-decoration: underline;
		text-underline-position: under;
	}
	&:hover span {
		background: #618C35;
		& path {
			fill: #FEFEFE;
		}
	}
	&:active {
		color: #496F23;
	}
	&:active span {
		background: #496F23;
	}
	& span {
		width: 32px;
		height: 32px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		border: 1px solid #618C35;
		border-radius: 3px;
	}
}