@import "../default/_my__font";
@import "../default/_my__color";
@import "../default/mixins";

.sidebar {
	width: 100%;
	max-width: 260px;
	@media screen and (max-width: 768px) {
		display: none;
		&.active {
			max-width: 100%;
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			height: 100vh;
			background-color: $bg;
			z-index: 10;
			padding: 16px;
		}
	}
	&-header {
		display: flex;
		grid-gap: 12px;
		margin-bottom: 36px;
		& img {
			width: 48px;
			height: 48px;
			object-fit: cover;
			border-radius: 3px;
		}
		& > div {
			& p {
				color: $black-80;
				margin-bottom: 4px;
			}
			& a {
				color: $green-4-100;
			}
		}
	}
	&-list {
	
	}
	&-item {
		padding: 18px 60px 18px 12px;
		border-radius: 3px;
		margin-bottom: 8px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		&:last-child {
			margin-bottom: 0;
		}
		&:hover {
			background-color: $green-1-20;
			
		}
		&.active {
			background-color: $green-1-20;
		}
		& .link-count {
			background-color: $green-1-40;
			border-radius: 12px;
			color: $green-5-100;
			padding: 4px;
		}
	}
	&-link {
		display: flex;
		align-items: center;
		grid-gap: 12px;
		color: $green-5-100;
	}
}